#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
PACKAGE=php-db-dataobject
PACKAGEDIR=debian/$(PACKAGE)
%:
	dh $@ --buildsystem=phppear --with phppear

override_dh_phppear:
	env
	dh_phppear -O--buildsystem=phppear
	rm -rf $(PACKAGEDIR)/usr/bin/DB \
		$(PACKAGEDIR)/usr/share/doc/$(PACKAGE)/docs/LICENCE.txt
